@model Cinema.WebApp.Models.MovieViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
    <p>Duration: @Model.Lasts minutes</p>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <div style="max-height: 70vh; overflow-y: auto; overflow-x: hidden">
                <div class="row">
                    @foreach (var session in Model.Sessions)
                    {
                        <div class="col-md-3 session-card-outline">
                            <a href="@Url.Action(action: "Index", controller: "Booking", new { id = session.Id })" class="card session-card session-link">
                                <div class="card-header">
                                    @session.RoomName
                                </div>
                                <div class="card-body">
                                    <p>Start: @session.Starts.ToString("hh:mm tt")</p>
                                    <p>End: @session.Ends.ToString("hh:mm tt")</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
